body {
  /* rules go here */
  font: 13px/27px Arial,sans-serif;
}

.apps {
  background-image: url("Google_files/background.png");
  background-position: -431px -242px;
  height: 30px;
  width: 30px;
  opacity: .55;
}

.notifications {
  background-image: url("Google_files/background.png");
  background-position: 0px 0px;
  height: 30px;
  width: 30px;
  opacity: .55;
}

.share {
  height: 30px;
  width: 60px;
  background: rgba(0,0,0,.04);
  border-radius: 2px;
  text-align: center;
  line-height: 30px;
}

.share:hover {
  background: rgba(0,0,0,.08);
}

:hover {
  opacity: 1;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}